[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = {extras = ["speedups"], version = "*"}
quart-cors = "*"
tornado = "*"
aiostream = "*"
qt-backport = "*"
termcolor = "*"
colorama = "*"
aiohttp-cors = "*"
python-dotenv = "*"
motor = "*"
spacy = "*"
pytz = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
